<ul class="side-menu">
    <li class="logo"></li>
    <li><a routerLink="/home" routerLinkActive="active" >Inicio</a></li>
    <li><a routerLink="/EjercicioUno" routerLinkActive="active" >Ejercicio 1</a></li>
    <li><a routerLink="/EjercicioDos" routerLinkActive="active" >Ejercicio 2</a></li>
    <li><a routerLink="/EjercicioTres" routerLinkActive="active" >Ejercicio 3</a></li>
    <li><a routerLink="/EjercicioCuatro" routerLinkActive="active" >Ejercicio 4</a></li>
    <li><a routerLink="/EjercicioCinco" routerLinkActive="active" >Ejercicio 5</a></li>
    <li><a routerLink="/EjercicioSeis" routerLinkActive="active" >Ejercicio 6</a></li>
    <li><a routerLink="/EjercicioSiete" routerLinkActive="active" >Ejercicio 7</a></li>
    <li><a routerLink="/EjercicioOcho" routerLinkActive="active" >Ejercicio 8</a></li>
</ul>