<h2>{{ title }}</h2>
<p class="descripcion">{{ descripcion }}</p>
<div class="contenedor">
    <div class="principal">
        <div class="agrupado">
           <p> Edad ---- Peso</p>
        </div>
        <div class="agrupado">
            <p> Edad ---- Peso</p>
        </div>
        <div class="agrupado">
            1
            <input type="number" class="edad" [(ngModel)]="edad1" name="edad1" />
            <input type="number" [(ngModel)]="peso1" name="peso1" />
        </div>
        <div class="agrupado">
            2
            <input type="number" class="edad" [(ngModel)]="edad2" name="edad2" />
            <input type="number" [(ngModel)]="peso2" name="peso2" />
        </div>
        <div class="agrupado">
            3
            <input type="number" class="edad" [(ngModel)]="edad3" name="edad3" />
            <input type="number" [(ngModel)]="peso3" name="peso3" />
        </div>
        <div class="agrupado">
            4
            <input type="number" class="edad" [(ngModel)]="edad4" name="edad4" />
            <input type="number" [(ngModel)]="peso4" name="peso4" />
        </div>
        <div class="agrupado">
            5
            <input type="number" class="edad" [(ngModel)]="edad5" name="edad5" />
            <input type="number" [(ngModel)]="peso5" name="peso5" />
        </div>
        <div class="agrupado">
            6
            <input type="number" class="edad" [(ngModel)]="edad6" name="edad6" />
            <input type="number" [(ngModel)]="peso6" name="peso6" />
        </div>
        <div class="agrupado">
            7
            <input type="number" class="edad" [(ngModel)]="edad7" name="edad7" />
            <input type="number" [(ngModel)]="peso7" name="peso7" />
        </div>
        <div class="agrupado">
            8
            <input type="number" class="edad" [(ngModel)]="edad8" name="edad8" />
            <input type="number" [(ngModel)]="peso8" name="peso8" />
        </div>
        <div class="agrupado">
            9
            <input type="number" class="edad" [(ngModel)]="edad9" name="edad9" />
            <input type="number" [(ngModel)]="peso9" name="peso9" />
        </div>
        <div class="agrupado">
            10
            <input type="number" class="edad" [(ngModel)]="edad10" name="edad10" />
            <input type="number" [(ngModel)]="peso10" name="peso10" />
        </div>

        <button type="submit" (click)="onCalcular()">Calcular</button>
        <p class="mensaje">{{ mensaje }}</p>
    </div>
    <div class="solucion">       
        <div class="resultados">
            <span>N° de Niños</span> <p>{{ ninos }}</p>
            <span>Promedio</span> <p>{{ ninos }}</p>
        </div>        
        <div class="resultados">
            <span>N° de  Jovenes</span> <p>{{ jovenes }}</p>
            <span>Promedio</span> <p>{{ jovenes }}</p>
        </div>        
        <div class="resultados">
            <span>N° de  Adultos</span> <p>{{ adultos }}</p>
            <span>Promedio</span> <p>{{ adultos }}</p>
        </div>        
        <div class="resultados">
            <span>N° de  Ancianos</span> <p>{{ viejos }}</p>
            <span>Promedio</span> <p>{{ viejos }}</p>
        </div>
    </div>
</div>