<div class="contiene-control">
    <div class="contenido-controles">
        <ul class="side-menu">
            <h2>CONTROL DE EJERCICIOS</h2>
            <li><a routerLink="/EjercicioUno"  target="_blank" >Ejercicio 1</a></li>
            <li><a routerLink="/EjercicioDos"  target="_blank" >Ejercicio 2</a></li>
            <li><a routerLink="/EjercicioTres"  target="_blank" >Ejercicio 3</a></li>
            <li><a routerLink="/EjercicioCuatro"  target="_blank" >Ejercicio 4</a></li>
            <li><a routerLink="/EjercicioCinco"  target="_blank" >Ejercicio 5</a></li>
            <li><a routerLink="/EjercicioSeis"  target="_blank" >Ejercicio 6</a></li>
            <li><a routerLink="/EjercicioSiete"  target="_blank" >Ejercicio 7</a></li>
            <li><a routerLink="/EjercicioOcho"  target="_blank" >Ejercicio 8</a></li>
            <li><a routerLink="/EjercicioCuatro" routerLinkActive="active" >Ejercicio 9</a></li>
            <li><a routerLink="/EjercicioSiete" routerLinkActive="active" >Ejercicio 10</a></li>
        </ul>
    </div>
</div>
